@media screen and (max-width: 768px) {
  body {
    width: 85%;
  }

  .nav-bar {
    display: none;
  }

  .nav-bar-bottom {
    display: block;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: "Source Sans Pro", "Helvetica", "Sans-Serif";
    font-style: normal;
    list-style: none;
    font-weight: 500;
    font-size: large;
    text-align: center;
    overflow: hidden;
    position: sticky;
    bottom: 0rem;
    border-top: 1px solid #d5d5d5;
    background-color: #ffffff;
    z-index: 1;
  }

  .nav-bar-bottom li a {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  footer {
    width: 85%;
  }

  .rsrcht {
    width: 100%;
    font-size: 3rem;
    color: #6a2b54;
    font-family: "Adobe Garamond Pro";
    padding-bottom: 0px;
    margin-bottom: 1px;
  }

  .research-body {
    width: 100%;
  }

  #plasmidsky {
    margin: auto;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  #cv-name {
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 2.5rem;
  }

  .namecv {
    font-size: x-large;
    line-height: 1.4em;
    color: #333;
    position: relative;
    text-align: left;
    font-weight: 400;
    font-family: "Source Sans Pro", "Sans-Serif";
  }

  .rimg {
    text-align: center;
    display: block;
    height: auto;
    width: 100%;
  }

  /* CV */
  .short-cv {
    width: 100%;
    margin-left: 0%;
  }

  #image-Afra {
    float: none;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }

  .short-cv {
    margin-top: 4rem;
  }

  .short-cv ul {
    margin-left: 0rem;
  }

  /* BLOG */
  .box {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
